<div class="row-centered">
  <div class="col-xs-6 col-centered">
    <p>This app lets you browse country data. Lorem ipsum dolor sit amet, eos illud
      possim eu, mea splendide omittantur an,
      mea ad simul molestiae. Quem diceret te has, no sonet causae omittam eum. Pro sonet graece honestatis cu, et eum
      utroque verterem singulis. Autem errem an vim, te mea essent mollis pertinacia.Graece prodesset id vel, est ei
      posse
      quaeque. Mea eros deserunt sensibus id, posidonium elaboraret an vix, no quem
      saperet efficiendi mel. Sale ullum eu vis, pri molestie vulputate dissentias ad, tota impetus no eam. An errem
      quaeque
    </p>
  </div>
</div>